.color-main {
    background-color: #00CC99;
}

.color {
    color: #00CC99;
}

.circle {
    /* width: 6vh;
    height: 6vh; */
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.big-text {
    font-size: 2vh;
}

.break {
    line-break: auto;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .Size-text {
        font-size: 100%;
    }

    .display-login {
        height: 103vh;
    }

    .big-text {
        font-size: 3vh;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .Size-text {
        font-size: 70%;
    }

    .display-login {
        height: calc(100vh - 155px);
    }

    .circle {
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        overflow: hidden;
    }

    .big-text {
        font-size: 3vh;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .Size-text {
        font-size: 90%;
    }

    .display-login {
        height: calc(100vh - 155px);
    }

    .big-text {
        font-size: 4vh;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .Size-text {
        font-size: 100%;
    }

    .circle {
        width: 6vh;
        height: 6vh;
        border-radius: 50%;
        overflow: hidden;
    }

    .big-text {
        font-size: 6vh;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00CC99;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }